<hr style="margin:0; border-top: 1px solid black;">
<footer>
    <div class="f-info mt-1">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/deep_kumar_singh__/"><i class="fa-brands fa-square-instagram" style="color:#FD1D1D"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook" style="color:#3b5998"></i></a>
            <a href="https://www.linkedin.com/in/deep-kumar-081784222/"><i class="fa-brands fa-linkedin" style="color:#0077b5"></i></a>
        </div>
        <div class="f-info-brand">Copyright © 2025 Roomio | All Rights reserved</div>   
        <div class="f-info-links">
            <p> Love <i class="fa-solid fa-heart" style="color:#FD1D1D"></i> from Roomie</p>
        </div>
    </div>
</footer>