<% layout("/layouts/boilerPlate") %>

<div class="row mt-5">
    <div class="alert alert-danger col-7 offset-3" role="alert">
        <p class="alert-heading">Error⚠️: <%= message %></p>
    </div>
</div>
<!-- The `offset` class in Bootstrap is used to create empty space or 
margin on the left side of an element. It is typically used in conjunction with the grid 
system to offset columns. In your code snippet, it seems like the `offset-` 
class is incomplete or missing a value. To properly use the `offset` class, you need 
to specify the number of columns you want to offset by. For example, `offset-2` would offset the
element by 2 columns.
offset -->